#nav {
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 3px #999; }
  #nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  #nav li {
    list-style-type: none;
    display: inline; }
    #nav li .btn {
      font-size: 18px; }
  #nav #add-new span {
    color: green; }
