body {
  background-color: #f1f1f1;
}

#header {	
	border-width: 0 1px 1px 1px;
	border-color: #ccc;
	border-style: solid;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 40px;
	box-shadow: 0 1px 2px #ddd;

	.custom-btn {
		border-top: 0;
		border-bottom: 0;
		border-radius: 0;
		padding: 9px 15px 10px;
	}

	.search-box {
		padding: 0;

		.search-field {
			border: 0;
			height: 39px;
		}

		.dropdown-menu {
			.active { padding-left: 3px; }
		}
	}	

	.user-box {
		padding-right: 0;

		.custom-btn { 
			border-right-width: 0; 
			border-bottom-right-radius: 6px;

			&:nth-child(1) { 
				border-bottom-right-radius: 0; 
				border-right-width: 1px; 
			}
		}

		.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-left-radius: 0; }
		.btn-group > .btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) { border-top-right-radius: 0; }
	}
}

#wrapper {
	clear: both;
}