body {
  background-color: #f1f1f1;
}

#header {}

#wrapper {
	margin-bottom: 30px;
	clear: both;
}

.bg-layer {
	margin-top: 20px;
	background: #fff;
	padding: 15px;
	box-shadow: 0 -1px 2px #ddd;
	border-radius: 6px;
	border: 1px solid #ccc;
	overflow: hidden;
}

.search-box {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

tr[data-url] { cursor: pointer; }