.search-box
	%h4 Wyszukaj klienta
	%form{ :action => '/' }
		%ul.fields-list
			%li
				%label
					%input{ :type => 'text', :class => 'form-control search-field', :placeholder => 'imię / nazwisko' }
			%li
				%label
					%input{ :type => 'text', :class => 'form-control search-field', :placeholder => 'data ubezpieczenia od' }
			%li
				%label
					%input{ :type => 'text', :class => 'form-control search-field', :placeholder => 'data ubezpieczenia do' }

#customers-table.table-responsive
	%table.table.table-hover.table-striped
		%thead
			%tr
				%th ID
				%th Imię
				%th Nazwisko
				%th Typ ubezpieczenia
		%tbody
			- @customers.each do |customer|
				%tr{ :data => { :url => url_for(:customers, :edit, :id => customer.id) } }
					%td= customer.id
					%td= customer.imie
					%td= customer.nazwisko
					%td= customer.rodzaj_ubezp