- form_tag url(:authorization, :create), :class => 'form-signin' do
	%h2.form-signin-heading Autoryzacja do systemu
	= email_field_tag :email, :value => params[:email], :autofocus => true, :placeholder => "Email lub nazwa użytkownika", :class => 'form-control login'
	= password_field_tag :password, :value => params[:password], :placeholder => "Hasło", :class => 'form-control password'
	= submit_tag :class => 'btn btn-lg btn-primary btn-block', :value => 'Zaloguj się'