%form.form-signin
	%h2.form-signin-heading Autoryzacja do systemu
	%input.form-control.login{ :type => "text", :placeholder => "Email lub nazwa użytkownika", :autofocus => true }
	%input.form-control.password{ :type => "password", :placeholder => "Hasło" }
	%button.btn.btn-lg.btn-primary.btn-block{ :type => "submit" } Zaloguj się