%header#header.row
	.user-box.col-md-3.pull-right
		.btn-group.pull-right
			%a.btn.btn-default{ :href => url_for(:profile, :show) }
				= "#{current_account.name} "
				= "#{current_account.surname}"
			%button.btn.btn-default.dropdown-toggle{ :type => "button", :data => { :toggle => "dropdown" } }
				%span.caret
			%ul.dropdown-menu{ :role => "menu" }
				%li
					%a{ :href => url_for(:authorization, :destroy) } Wyloguj się